<% provide(:title, 'Home | ') %>
<% if logged_in? %>
<div class="container">
    <div class="row">
        <aside class="col-3 post">
            <section class="mt-4">
                <!-- This is were you put your gravatar and name -->
                <%= render 'shared/user_info' %>
                <!-- link to show profile page-->
                <span>
                    <%= link_to "View my profile", current_user, class: "text-center" %>
                </span>
            </section>
            <section>
                <%= render 'shared/stats' %>
            </section>
            <section>
                <%= render 'shared/micropost_form' %>
            </section>
        </aside>        
        <!-- This is wehre you put your micropost -->
        <div class="col-9">   
            <h3>Micropost Feed</h3>
            <!-- showing all the microposts -->
            <%= render 'shared/feed' %>
        </div>
</div>
    <% else%>
        <div class="row mt-5">
            <div class="col-12  mt-5">
                <div class="card">
                    <div class="jumbotron mb-0 text-center">
                        <h1>Awesome Blog App</h1>
                        <h1>Welcome to awesomeblog!</h1>
                    </div>
                    <div class="card-body text-center">
                        <a class="btn btn-primary btn-lg mt-1" href="signup" role="button">Sign up</a>  
                    </div>
                </div>
            </div>
        </div>    
    <% end %>
</div>


