<% provide(:title, @title) %>
<div class="row">
    <div class="col-4">
        <section class="user_info">
            <%= render 'shared/user_info' %>
        </section>
        <section class="stat">
            <%= render 'shared/stats' %>
            <!-- showing the profile pictures of all followers/following -->
            <% if @all_users.any? %>
                <div class="user_avatars">
                    <% @all_users.each do |user| %>
                        <%= link_to gravatar_for(user,size: 30), user %>
                    <% end %>
                </div>
            <% end %>
        </section>
    </div>
    <!-- this shows all your followers/following -->
    <div class="col-8">
        <h3><%= @title %></h3>
        <% if @users.any? %>
            <% @users.each do |user| %>
                <ul class="users follow">
                    <%= render user %>
                </ul>
               <% end %>
                <%= will_paginate %>
        <% end %>

    </div>
</div>